
<% include ../partial/atas %>


<% var arrdata = ["CLOSE","OPEN"]; %>
<div class="row">
<div class="col-xs-12">
<div class="box box-primary">
<div class="box-header with-border">
      <table id="Table" class="ui celled table" cellspacing="0" width="100%">
      <thead>
      	<tr>
      		 <th>ID</th>
           <th>SITE</th>
           <th>TANGGAL</th>
                 
        </tr>
      <tbody>    
           <td></td>
           <td></td>
           <td></td>
                       

      </tbody>
  	  </table>
</div>
</div>
</div>
</div>
</div>

 

<% include ../partial/bawah %>