

<link rel="stylesheet" type="text/css" href="/dist/css/jquery.dataTables.min.css">


<% var arrdata = ["CLOSE","OPEN"]; %>
<div class="row">
<div class="col-xs-12">
<div class="box box-primary">
<div class="box-header with-border">
      <table id="Table" class="mData">
      <thead>
      	<tr>
      		 <th>ID</th>
           <th>SITE</th>
           <th>TANGGAL</th>
           <th>TEMP</th>
           <th>DOOR</th>
           <th>AC/PWR</th>
           <th>FUEL</th>
                  
     </tr>

    </tbody>
  	  </table>
</div>
</div>
</div>
</div>
</div>

 
<script src="/dist/js/jquery.min.js"></script>
<script src="/dist/js/jquery.dataTables.min.js"></script>
<script src="/adapter/tbl.js"></script>



