
<% include ../partial/atas %>


<% var arrdata = ["CLOSE","OPEN"]; %>
<div class="row">
<div class="col-xs-12">
<div class="box box-primary">
<div class="box-header with-border">
      <table id="Table" class="display">
      <thead>
      	<tr>
      		 <th>ID</th>
           <th>SITE</th>
           <th>TANGGAL</th>
           <th>TEMP</th>  
           <th>HUM</th>
           <th>Door</th>
           <th>ACPWR</th>              
        </tr>
      <tbody>    
           <td></td>
           <td></td>
           <td></td>
           <td></td>                
           <td></td>
           <td></td>                

      </tbody>
  	  </table>
</div>
</div>
</div>
</div>
</div>

 

<% include ../partial/bawah %>