<% include ../partial/atas %>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<div class="container pull-left">
<div class="form">
<script src="/adapter/adapter.js"></script>

<body>
      <table class="table table-striped" >
      <thead>
      	<tr>
      		<th>Tanggal</th>
            <th>Status Sensor</th>
        </tr>
      </thead>
       <tbody>
        <tr>
        	<td id=messages1 ></td>
        	<td id=messages2 ></td>
        </tr>
      </tbody>
  	  </table>


</div>
</div>
</body>



<% include ../partial/bawah %>
