<% include ../partial/atas %>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/adapter/adapter.js"></script>
<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title centre" >Status Monitoring</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>NO</th>
                  <th>TIME</th>
                  <th>SITE</th>
                  <th>TEMP</th>
                  <th>HUM</th>
                  <th>FUEL TANK</th>
                  <th>DOOR</th>
                  <th>AC PWR</th>
                </tr>
              </thead>
                <tbody>
                <tr>
                  <td></td>
                  <td id=date></td>
                  <td id=site></td>
                  <td id=temp></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <p id=messages1>

    </p>
<% include ../partial/bawah %>
