<% include ../partial/atas %>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<div class="container">
<div class="form">
<script>

var socket = io('http://localhost:12345')	
socket.on('alert', function(data){
  console.log(data)
document.getElementById("test").innerHTML = data;
})
</script>


<body>
<p>
<h2>Sensor Test : <a id=test ></a></h2> 

</p>
</div>
</div>
</body>

<% include ../partial/status %>


<% include ../partial/bawah %>
