<% include ../partial/atas %>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/adapter/adapter.js"></script>
<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"  >Status Monitoring</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style="text-align: center;">ID</th>
                  <th style="text-align: center;">TIME</th>
                  <th style="text-align: center;">SITE</th>
                  <th style="text-align: center;">TEMP (Celcius)</th>
                  <th style="text-align: center;">HUM</th>
                  <th style="text-align: center;">DOOR</th>
                  <th style="text-align: center;">AC PWR (Volt)</th>
                </tr>
              </thead>
               <tbody>
                <tr>
                <td id=id0 style="text-align: center;"></td>
                <td id=tanggal0 style="text-align: center;"></td>
                <td id=site0 style="text-align: center;"></td>
                <td id=temp0 style="text-align: center;"></td>
                <td id=hum0 style="text-align: center;"></td>
                <td id=door0 style="text-align: center;"></td>
                <td id=acpwr0 style="text-align: center;"></td>
                </tr>
                <tr>
                <td id=id1 style="text-align: center;"></td>
                <td id=tanggal1 style="text-align: center;"></td>
                <td id=site1 style="text-align: center;"></td>
                <td id=temp1 style="text-align: center;"></td>
                <td id=hum1 style="text-align: center;"></td>
                <td id=door1 style="text-align: center;"></td>
                <td id=acpwr1 style="text-align: center;"></td>
                </tr>
              </tbody>
            
            </table>
          </div>
        </div>
      </div>
    </div>
    

    </p>
<% include ../partial/bawah %>
