<% include ../partial/atas %>
<script src="adapter/socket.io.js"></script>
<script src="adapter/adapter.js"></script>

<div class="container">
<div class="form">
<body>
<p>
<h2>Sensor Test : <a id=test ></a></h2> 

</p>
</div>
</div>
</body>

<% include ../partial/status %>


<% include ../partial/bawah %>
