<% include ../partial/atas %>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<section class="content">
<h1>LAMPU <%=status%></h1>
<a href="/on"><button type="button" class="btn btn-primary" name="tombolon">ON</button></a>
<a href="/off"><button type="button" class="btn btn-primary" name="tombolof" >OFF</button></a><br>
<hr>
<h1>GENSET <%=status%></h1>
<a href="/on"><button type="button" class="btn btn-primary" name="tombolon">ON</button></a>
<a href="/off"><button type="button" class="btn btn-primary" name="tombolof" >OFF</button></a><br>
<hr>
<h1>AC <%=status%></h1>
<a href="/on"><button type="button" class="btn btn-primary" name="tombolon">ON</button></a>
<a href="/off"><button type="button" class="btn btn-primary" name="tombolof" >OFF</button></a><br>
</section>


<% include ../partial/status %>
<% include ../partial/bawah %>

<!--//  $('#lampu').on('change', function(){
 //   alert("lampu");
  //});
  //$('#accentral').on('change', function(){
   // alert("accentral");
 // });
 /// $('#acruangserver').on('change', function(){
  //  alert("acruangserver");
  //});

